.div-main-triangle {
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(50%, #707070),
    color-stop(50%, #434343)
  );
  background: -webkit-linear-gradient(top left, #707070 50%, #434343 50%);
  background: -o-linear-gradient(top left, #707070 50%, #434343 50%);
  background: linear-gradient(to bottom right, #707070 50%, #434343 50%);
}

.form-control {
  background-color: #bfbfbf !important;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #bfbfbf !important;
}

.button-submit {
  width: 9rem;
  height: 3.5rem;
  font-weight: bold !important;
}

@media (min-width:320px) and (max-width:599px){
  .m-0-mobile {
    margin: 0;
  }
}